@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: none; }

body {
  width: 1900px; }

.header {
  height: 125px;
  position: relative; }
  .header .upper {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    padding: 0px;
    font-size: 11px;
    color: white;
    letter-spacing: 0px;
    background-color: #222222;
    height: 30px;
    padding-left: 1300px; }
    .header .upper p {
      position: absolute;
      width: 205px;
      padding-top: 8px; }
  .header .lower {
    display: flex; }
    .header .lower img {
      display: inline-block;
      padding-top: 25px;
      padding-left: 395px;
      width: 235px;
      height: 100%; }
    .header .lower .headerBtn {
      display: flex;
      margin-left: 175px;
      width: 700px;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif; }
    .header .lower .itemHeader {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 15px;
      color: black;
      letter-spacing: 1px;
      display: inline-block;
      background-color: white;
      text-align: left;
      width: 65px;
      height: 35px;
      margin: 27px 40px 0px 0px; }
    .header .lower .shorter {
      width: 55px;
      letter-spacing: -2px; }
    .header .lower .longer {
      width: 90px;
      letter-spacing: 0px;
      margin-right: 0px; }
    .header .lower .itemHeader:hover {
      cursor: pointer;
      font-weight: bolder;
      transition: 1s 0.25s;
      -moz-transition: 1s 0.25s;
      -webkit-transition: 1s 0.25s;
      -o-transition: 1s 0.25s;
      border-bottom: 2px black solid; }

.mainvisual {
  height: 540px;
  background-image: url("../images/indexMainvisual2.png");
  background-size: 1900px 540px; }
  .mainvisual .mainTxt {
    margin: 0px; }
  .mainvisual .mainTxtImg {
    width: 615px;
    height: 60px;
    padding: 180px 655px 50px; }
  .mainvisual .mainTxt_1 {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    margin: auto;
    font-size: 20px;
    color: white;
    letter-spacing: 0px;
    width: 470px; }
  .mainvisual .mainTxt_2 {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    margin: auto;
    font-size: 20px;
    color: white;
    letter-spacing: -1px;
    width: 410px;
    margin-top: 10px; }

.serviceContainer {
  background-color: #eeeeee;
  height: 915px;
  border: 1px solid #eeeeee;
  margin: 0px; }
  .serviceContainer .service {
    background-color: white;
    width: 1110px;
    height: 765px;
    margin: 60px 395px 90px; }
  .serviceContainer .tab1 {
    background-color: #fcd000;
    height: 85px; }
  .serviceContainer .serviceTxt_1 {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    margin: auto;
    font-size: 23px;
    color: black;
    letter-spacing: -3px;
    width: 160px;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
    font-weight: 900;
    padding-top: 10px;
    margin-bottom: 0px; }
  .serviceContainer .serviceTxt_2 {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    margin: auto;
    font-size: 14px;
    color: black;
    letter-spacing: 0px;
    width: 255px; }
  .serviceContainer .arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fcd000;
    margin-left: 545px; }
  .serviceContainer .mainService {
    display: flex;
    width: 980px;
    margin: 55px 65px 60px; }
    .serviceContainer .mainService .itemService {
      width: 490px;
      height: 300px; }
      .serviceContainer .mainService .itemService img {
        width: 475px; }
    .serviceContainer .mainService .serviceTxt_3 {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 25px;
      color: black;
      letter-spacing: 2px;
      margin-left: 20px; }
    .serviceContainer .mainService .serviceTxt_4 {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 15px;
      color: black;
      letter-spacing: -2px;
      margin-left: 20px; }
    .serviceContainer .mainService .serviceBtn {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 15px;
      color: black;
      letter-spacing: 1px;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
      background-color: #fcd000;
      width: 350px;
      height: 55px;
      margin: 75px 0px 0px 20px; }
    .serviceContainer .mainService .serviceBtn:hover {
      cursor: pointer; }
  .serviceContainer .guide {
    display: flex;
    width: 980px;
    height: 190px;
    margin: 0px 60px 0px; }
    .serviceContainer .guide .serviceGuide {
      text-align: center;
      color: white;
      background-color: #222222;
      width: 265px; }
      .serviceContainer .guide .serviceGuide .serviceTxt_5 {
        font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
        font-weight: 500;
        padding: 0px;
        font-size: 19px;
        color: white;
        letter-spacing: 1px;
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
        padding-top: 70px; }
      .serviceContainer .guide .serviceGuide .serviceTxt_6 {
        font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
        font-weight: 500;
        padding: 0px;
        font-size: 12px;
        color: white;
        letter-spacing: 1px; }
    .serviceContainer .guide .itemServiceGuide {
      background-color: #eeeeee;
      text-align: center;
      padding: 30px 33px 0px; }
      .serviceContainer .guide .itemServiceGuide img {
        width: 96px;
        height: 96px;
        -moz-border-radius: 48px;
        -webkit-border-radius: 48px;
        border-radius: 48px; }
      .serviceContainer .guide .itemServiceGuide p {
        font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
        font-weight: 500;
        padding: 0px;
        font-size: 14px;
        color: black;
        letter-spacing: -1px; }
    .serviceContainer .guide .itemServiceGuide.first {
      padding-left: 66px; }
    .serviceContainer .guide .itemServiceGuide.last {
      padding-right: 66px; }

.newsContainer h1 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  margin: auto;
  font-size: none;
  color: black;
  letter-spacing: 1px;
  width: 95px;
  font-weight: bold;
  padding-top: 60px; }
.newsContainer .newsTxt_1 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  margin: auto;
  font-size: 14px;
  color: black;
  letter-spacing: 0px;
  width: 115px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif; }
.newsContainer .newsTxt_2 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  margin: auto;
  font-size: 14px;
  color: black;
  letter-spacing: 0px;
  width: 1000px;
  padding-left: 1365px; }
.newsContainer .line {
  width: 1005px;
  margin: 0px 445px 0px;
  border-bottom: 1px solid black; }
.newsContainer .rows {
  padding: 10px 445px 0px;
  height: 340px;
  width: 1005px;
  margin-top: 50px; }
  .newsContainer .rows .date {
    margin-right: 35px; }
  .newsContainer .rows .fa-angle-right {
    float: right;
    font-size: 14px;
    padding-top: 11px; }
  .newsContainer .rows .label {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    padding: 0px;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    background-color: #fcd000;
    text-align: center;
    display: inline-block;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    --border-radius: 30px;
    border-radius: 30px;
    width: 120px;
    height: 27px;
    margin-right: 10px;
    padding-top: 4px; }
  .newsContainer .rows .title {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    padding: 0px;
    font-size: 15px;
    color: black;
    letter-spacing: 0px;
    margin-left: 25px; }
  .newsContainer .rows .lineDotted {
    border-bottom: 1px dotted black;
    margin: 20px 0px 20px; }

.company {
  background-color: #eeeeee;
  display: flex;
  width: 1110px;
  height: 420px;
  margin: 75px 395px 0px; }
  .company img {
    width: 555px; }
  .company .companyInfor {
    width: 555px; }
    .company .companyInfor .companyTxt_1 {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 16px;
      color: black;
      letter-spacing: 1px;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
      text-align: center;
      width: 85px;
      height: 25px;
      border: 1px black solid;
      margin: 45px 0px 0px 45px;
      padding-top: 3px; }
    .company .companyInfor .companyTxt_2 {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 19px;
      color: black;
      letter-spacing: 1px;
      margin: 15px 0px 0px 45px; }
    .company .companyInfor .companyTxt_3 {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 14px;
      color: black;
      letter-spacing: 0px;
      margin: 35px 0px 0px 45px; }
    .company .companyInfor .companyBtn {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 15px;
      color: black;
      letter-spacing: 1px;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
      background-color: #fcd000;
      width: 350px;
      height: 55px;
      margin: 50px 0px 0px 45px; }
    .company .companyInfor .companyBtn:hover {
      cursor: pointer; }

.recruitContainer {
  display: flex;
  width: 1110px;
  height: 250px;
  margin: 100px 395px 0px; }
  .recruitContainer .recruitInfor {
    background-color: #fcd000;
    width: 450px; }
    .recruitContainer .recruitInfor .recruitTxt_1 {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 17px;
      color: black;
      letter-spacing: 1px;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
      text-align: center;
      width: 165px;
      height: 25px;
      border: 1px black solid;
      margin: 45px 0px 0px 50px;
      padding-top: 3px; }
    .recruitContainer .recruitInfor .recruitTxt_2 {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 22px;
      color: black;
      letter-spacing: 1px;
      margin: 15px 0px 0px 45px; }
    .recruitContainer .recruitInfor .recruitTxt_3 {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 15px;
      color: black;
      letter-spacing: 0px;
      margin: 30px 0px 0px 45px; }
    .recruitContainer .recruitInfor .recruitTxt_4 {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 15px;
      color: black;
      letter-spacing: 0px;
      margin-left: 45px; }
  .recruitContainer .recruitImg {
    width: 660px; }

.contactContainer {
  height: 410px;
  background-image: url("../images/indexContactImg2.png");
  background-size: 1900px;
  margin-top: 100px; }
  .contactContainer .contactTxt_1 {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    margin: auto;
    font-size: 28px;
    color: white;
    letter-spacing: -3px;
    width: 420px;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
    padding-top: 125px;
    text-shadow: 2px 2px 20px black; }
  .contactContainer .buttonsContact {
    display: flex;
    width: 1110px;
    margin: 30px 395px 0px; }
  .contactContainer .contactBtn {
    width: 349px;
    height: 75px;
    color: white;
    background-color: black;
    border: 1px solid white;
    opacity: 0.7; }
    .contactContainer .contactBtn .contactTitle {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 13px;
      color: white;
      letter-spacing: 1px;
      padding-top: 6px; }
    .contactContainer .contactBtn .phone {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 27px;
      color: white;
      letter-spacing: 1px; }
  .contactContainer .first {
    margin-right: 30px; }
  .contactContainer .last {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    padding: 0px;
    font-size: 17px;
    color: white;
    letter-spacing: 1px;
    opacity: 1;
    border: 0px;
    background-color: #82141a;
    margin-left: 30px; }
  .contactContainer .contactBtn:hover {
    cursor: pointer;
    opacity: 1; }

.footer {
  height: 430px; }
  .footer .main {
    width: 1110px;
    margin: 0px 395px 0px; }
    .footer .main .infor {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 16;
      color: black;
      letter-spacing: 1px;
      display: flex;
      padding-top: 40px; }
      .footer .main .infor img {
        display: inline-block;
        width: 235px;
        height: 100%;
        margin-right: 70px; }
    .footer .main .lineDotted {
      border-bottom: 1px dotted black;
      margin: 45px 0px 40px; }
    .footer .main .lists {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 0px;
      font-size: 15px;
      color: black;
      letter-spacing: 0px;
      display: flex; }
      .footer .main .lists .list {
        width: 120px;
        margin-right: 100px; }
        .footer .main .lists .list .title {
          margin-bottom: 15px; }
      .footer .main .lists .last {
        width: 150px;
        margin-right: 70px; }
    .footer .main .bottom {
      margin: 55px 0px 50px; }
  .footer footer {
    background-color: #222222;
    height: 55px; }
    .footer footer p {
      font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
      margin: auto;
      font-size: 12px;
      color: white;
      letter-spacing: 1px;
      width: 250px;
      padding-top: 20px; }

/*# sourceMappingURL=style.css.map */
